.nav {
  border-bottom: 1px solid #E6E6E6;
  padding: 2.4rem 0;

  &__container {
    align-items: center;
    display: flex;
    gap: 2rem;
    justify-content: space-between;



    @media screen and (max-width: 576px) {
      flex-direction: column;
      /* Изменяем направление flex контейнера на вертикальное */
      text-align: center;
      /* Выравниваем текст по центру */
    }

  }

  &__list {
    display: flex;
    gap: 4rem;
    list-style-type: none;

    @media screen and (max-width: 768px) {
      gap: 2rem;
    }

    @media screen and (max-width: 390px) {
      gap: 1rem;
    }

  }

  &__item {
    a {
      color: $main-color;
      font-weight: 600;
      text-decoration: none;
      text-transform: uppercase;
      transition: color .3s ease;

      &:active {
        color: $accent-color;
      }

      @media (any-hover: hover) {
        &:hover {
          color: $accent-color;
        }
      }
    }
  }

  &__logo {
    display: block;
    height: 2.3rem;
    width: 10.2rem;

  }


}