.nav {
  padding: 2.4rem 0;
  border-bottom: 1px solid #E6E6E6;
  
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list {
    display: flex;
    list-style-type: none;
    gap: 4rem;
  }

  &__item {
    a {
      text-decoration: none;
      text-transform: uppercase;
      color: $main-color;
      font-weight: 600;
      transition: color .3s ease;

      &:active {
        color: $accent-color;
      }

      @media (any-hover: hover) {
        &:hover {
          color: $accent-color;
        }
      }
    }
  }

  &__logo {
    display: block;
    height: 2.3rem;
    width: 10.2rem;
  }
}