.btn {
  background-color: $accent-color;
  border: none;
  color: $color-white;
  cursor: pointer;
  font-weight: 700;
  outline: none;
  padding: 1.1rem 2.9rem;
  text-transform: uppercase;
  transition: filter .3s ease;

  @media (any-hover: hover) {
    &:hover {
      filter: brightness(1.1);
    }
  }

  &:focus-visible {
    outline: $accent-color 1px solid;
    outline-offset: 0.5rem;
  }
}